* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  letter-spacing: 1px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.header {
  height: 550px;
  width: 400px;
  overflow-y: auto;
  background-color: tomato;
  padding: 10px;
}
.header-title {
  color: white;
  text-align: center;
  margin-top: 10px;
}
#input {
  height: 40px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin: 15px 0;
}
